/* Quiz styles */

//variables
$primaryColor: aliceblue;
$baseFont: sans-serif;
$marginLeft: 50px;
$padding: 10px;


header {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background: $primaryColor;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font{ 
    family: $baseFont;
    size: 1em;
    style: oblique;
    }
    background: $primaryColor;
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background: $primaryColor;
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background: $primaryColor;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $marginLeft;
    color:#58a0e0
}

ul{
    margin-left: $marginLeft;
}

p{
    font{
    family: serif;
    style: normal;
    }
}

.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: $padding;
    background-color: white;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background: $primaryColor;
}

#footer {
    font:{
    size: .75em;
    style: italic;
    weight: bold;
    }
    color: #064277;
    text-align: center;
}


